.vs/Astrology/CopilotIndices/17.14.995.13737/CodeChunks.db
.vs/Astrology/CopilotIndices/17.14.995.13737/CodeChunks.db-shm
.vs/Astrology/CopilotIndices/17.14.995.13737/CodeChunks.db-wal
.vs/Astrology/CopilotIndices/17.14.995.13737/SemanticSymbols.db
.vs/Astrology/CopilotIndices/17.14.995.13737/SemanticSymbols.db-shm
.vs/Astrology/CopilotIndices/17.14.995.13737/SemanticSymbols.db-wal
.vs/Astrology/FileContentIndex/41eacea1-0d39-4936-be8f-defff232fb9c.vsidx
.vs/Astrology/FileContentIndex/6fe0251d-158d-4609-b9a9-6dbcdf22db55.vsidx
.vs/Astrology/FileContentIndex/8fc1f04d-429e-48f0-817d-ff8e4c98bb26.vsidx
.vs/Astrology/FileContentIndex/cd769b9a-238c-4f3e-8be1-859311e624be.vsidx
.vs/Astrology/FileContentIndex/f7f3cca3-737a-483b-80ff-247cfa25cf54.vsidx
.vs/Astrology/v17/.suo
.vs/Astrology/v17/Browse.VC.db
.vs/Astrology/v17/Browse.VC.db-shm
.vs/Astrology/v17/Browse.VC.db-wal
.vs/Astrology/v17/Browse.VC.opendb
.vs/Astrology/v17/DocumentLayout.backup.json
.vs/Astrology/v17/DocumentLayout.json
.vs/Astrology/v17/ipch/AutoPCH/12f9a8c4157e02bf/ASTROLOGY.ipch
.vs/Astrology/v17/ipch/AutoPCH/4d051a4ca6415659/SWEMMOON.ipch
.vs/Astrology/v17/ipch/AutoPCH/56fb5e1c89924449/SWEEPHE4.ipch
.vs/Astrology/v17/ipch/AutoPCH/9b9bfd33a6eec0d5/SWEPHGEN4.ipch
.vs/Astrology/v17/ipch/AutoPCH/9e334ea03faec990/SWECL.ipch
.vs/Astrology/v17/ipch/AutoPCH/cbe41cb5d662fb10/SWEMINI.ipch
.vs/Astrology/v17/ipch/AutoPCH/f349eae88713e635/SWEJPL.ipch
